img{


    width: 20px;
}

.cabecalho{
width: 100px;
height: 100px;
background-color: greenyellow;



}

.primeirasecao{
display: flex;
justify-content: space-around;
align-items: center;
width: 900px; ;
height: 900px;
background-color: rgb(255, 0, 0);

}

.divisao{

width: 200px;
height: 200px;
background-color: black;
}
