img{


    width: 20px;
}

.cabecalho{
width: fit-content;
height: fit-content;
background-color: greenyellow;



}

.primeirasecao{

width: min-content; ;
height: min-content;
background-color: hotpink;






}